<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" style="height: 100%;" >
  <div class="content-wrapper">
    <div class="container px-4 px-md-5 content-container">
      <div class="row gx-lg-5 align-items-center justify-content-center">

        <!-- Texte -->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            💸BudgetManager <br />
            <span style="color: hsl(218, 81%, 75%)">Control your money</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Take control of your finances with ease. Whether you’re saving for the future, managing your monthly budget, or planning for big purchases, we give you the tools to track, analyze, and optimize your spending habits.
            Get started today and experience a stress-free way to manage your money!
          </p>
        </div>

        <!-- Formulaire -->
        <div class="col-lg-6 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

          <div class="card bg-glass">
            <div class="card-body px-4 py-4 px-md-5">
              <form class="d-flex flex-column align-items-center" 
                    [formGroup]="loginForm" 
                    (ngSubmit)="login()" 
                    novalidate>

                <div class="w-100 mb-3 mt-2" style="max-width: 400px;">
                  <div class="text-center">
                    <h1>Welcome</h1>
                  </div>
                </div>

                <!-- EMAIL -->
                <div class="form-group mb-3 w-100" style="max-width: 400px;">
                  <label class="form-label" for="emailInput">Email address</label>
                  <input type="email" id="emailInput" class="form-control form-control-md" 
                        placeholder="Enter your email" formControlName="email" />
                  <!-- messages d'erreur dynamiques -->
                  <small class="text-danger" *ngIf="email.touched && email.errors">
                    <span *ngIf="email.errors['required']">Email obligatoire</span>
                    <span *ngIf="email.errors['email']">Format email invalide</span>
                    <span *ngIf="email.errors['minlength'] || email.errors['maxlength']">
                      Email doit être entre 5 et 20 caractères
                    </span>
                    
                  </small>
                </div>

                <!-- PASSWORD -->
                <div class="form-group mb-3 w-100" style="max-width: 400px;">
                  <label class="form-label" for="passwordInput">Password</label>
                  <input type="password" id="passwordInput" class="form-control form-control-md" 
                        placeholder="Enter your password" formControlName="password" />
                  <!-- messages d'erreur dynamiques -->
                  <small class="text-danger" *ngIf="password.touched && password.errors">
                    <span *ngIf="password.errors['required']">Mot de passe obligatoire</span>
                    <span *ngIf="password.errors['minlength']">
                      Minimum {{ password.errors['minlength'].requiredLength }} caractères
                    </span>
                  </small>
                </div>

                <!-- Forgot Password Link -->
                <div class="w-100 mb-3" style="max-width: 400px;">
                  <div class="text-center">
                    <a routerLink="/forgot-password" style="font-size: 0.9rem;">Forgot password?</a>
                  </div>
                </div>

                <!-- Bouton Submit -->
                <div class="w-100" style="max-width: 400px;">
                  <button type="submit" class="btn btn-primary btn-block btn-lg w-100 mb-3"
                          [disabled]="loginForm.invalid">
                    Sign In
                  </button>
                </div>

                <!-- Liens supplémentaires -->
                <div class="text-center w-100">
                  <p class="mb-0" style="font-size: 0.9rem;">
                    Don't have an account yet? <a routerLink="/auth/register">Sign up</a>
                  </p>
                </div>

                <div class="text-center mt-3 w-100">
                  <a routerLink="/home" style="font-size: 0.9rem;">Back to home</a>
                </div>

              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
