:host {
  display: block;
  width: 100%;
}



.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}
.chart-container {
  position: relative;
  width: 100%;
  height: 100%; 
  min-height: 400px; 
}
